@model HomeViewModel

@section Scripts
{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@Model.GooglePlacesApiKey&libraries=places&callback=initializeAutocomplete"></script>
}

<div class="container text-center">
    <h1 class="display-1 mb-5">Check air quality in your location</h1>
    <div class="row">
        <section class="col-6 container">
            <form class="row g-3 align-items-center text-end" method="post" asp-action="AirQuality">
                @Html.AntiForgeryToken()
                <div class="col col-md-9">
                    <input type="text" id="autocomplete" class="form-control" placeholder="Enter a location">
                </div>
                <input type="hidden" id="localization" name="localization"/>
                <input type="hidden" id="lat" name="lat"/>
                <input type="hidden" id="lng" name="lng"/>
            </form>
        </section>
    </div>
</div>
