@section HeaderScripts
{
    <script async src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places&callback=initializeAutocomplete"></script>
}

@section Scripts {
    <script>
        function initializeAutocomplete() {
            const input = document.getElementById('city');
            const autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                document.getElementById('city2').value = place.name;
                document.getElementById('cityLat').value = place.geometry.location.lat();
                document.getElementById('cityLng').value = place.geometry.location.lng();
            });
        }
    </script>
}

<div class="container text-center">
    <h1 class="display-1 mb-5">Check air quality in your city</h1>
    <div class="row">
        <section class="col-6 container">
            <form class="row g-3 align-items-center text-end">
                <div class="col col-md-9">
                    <input type="text" id="city" class="form-control" placeholder="Enter a location">
                </div>
                <input type="hidden" id="city2" name="city2" />
                <input type="hidden" id="cityLat" name="cityLat" />
                <input type="hidden" id="cityLng" name="cityLng" />
            </form>
        </section>
    </div>
</div>
