@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SmutekDev.AirQuality.Core.Models.Enums
@model HomeViewModel

@section Scripts
{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@Model.GooglePlacesApiKey&libraries=places&callback=initializeAutocomplete"></script>
}

<div class="container text-center">
    <h1 class="display-1 mb-5">Check air quality in your location</h1>
    <div class="row">
        <section class="col-6 container">
            <form id="checkQuality" class="row g-3 align-items-center text-end" method="post" asp-action="AirQuality">
                @Html.AntiForgeryToken()
                <div class="col col-md-6">
                    <input type="text" id="autocomplete" class="border border-2 form-control p-3" placeholder="Enter a location">
                </div>
                <div class="col col-md-3">
                    <select id="distanceSelect" name="Distance" asp-items="Html.GetEnumSelectList<Distance>()" class="form-select p-3">
                        
                    </select>
                </div>
                <div class="col col-md-3">
                    <select id="sortOrderSelect" name="SortOrder" asp-items="Html.GetEnumSelectList<SortOrder>()" class="form-select p-3">
                        
                    </select>
                </div>
                
                
                <input type="hidden" id="localization" name="localization"/>
                <input type="hidden" id="lat" name="lat"/>
                <input type="hidden" id="lng" name="lng"/>
            </form>
        </section>
    </div>
</div>
<div id="loadingSpinner" class="d-flex justify-content-center mt-5 text-secondary d-none">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="container mt-5" id="airQualityResults">
</div>
